.actions-menu {
    padding: 40px 30px;
}

.actions-menu h1 {
    margin-bottom: 20px;
}

.col {
    padding: 8px;
}

.lista-vacia{
    text-align: center;
}

.actions-menu-contents{
    display: flex;
    justify-content: space-between;
}

.actions-menu-contents > button.btn.btn-primary{
    height: 40px;
}

.alert {
    display: none;
} 